@import "_utilities/mixin";

@import "_utilities/fonts";
@import "_utilities/main-setting-reset";

body {
	background-color: #761115;
}

.profile {
	position: relative;
	background-color: #761115;

	/*&:before {
		content: '';
		z-index: 99;
		position: fixed;
		top: 0;
		left: 0;
		width: 50%;
		height: 127px;
		background-color: #000000;
		@include adaptive(1439) {
			height: 100px;
		}
		@include adaptive(767) {
			width: 100%;
			height: 60px;
		}
	}*/

	&.profile--404 {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 30px 15px;
		background-color: #191919;
		@include adaptive(767) {
			display: block;
			height: auto;
			padding-top: 100px;
		}

		&:before {
			display: none;
		}
	}

	&__block {
		width: 100%;
		max-width: 638px;
		margin-left: auto;
		margin-right: auto;

		.profile__desc {
			padding-bottom: 40px;
		}
	}

	&__bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&-cover {
			z-index: 0;
			opacity: 0.3;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url('../img/img-bg.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}

		/*&-top {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 387px;
			background-color: #000000;
			@include adaptive(1439) {
				height: 300px;
			}
			@include adaptive(767) {
				display: none;
			}
		}*/

		&-container {
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			max-width: 1605px;
			height: 100%;
			margin-left: auto;
			margin-right: auto;
			padding-left: 20px;
			padding-right: 20px;
			@include adaptive(767) {
				padding-left: 0;
				padding-right: 0;
			}

			> div {
				position: relative;
				width: 50%;
				height: 100%;
				@include adaptive(767) {
					width: 100%;
				}
			}
		}

		&-visual {
			position: absolute;
			top: 0;
			left: 50px;
			right: 0;
			width: 100%;
			max-width: 464px;
			height: calc(100% - 115px);
			margin-left: auto;
			margin-right: auto;
			@include transition(opacity 0.05s);
			@include adaptive(1439) {
				top: 100px;
				height: calc(100% - 100px);
			}
			@include adaptive(1365) {
				left: 0;
			}
			@include adaptive(767) {
				opacity: 0;
				top: 60px;
				height: calc(100% - 60px);
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	&__header {
		z-index: 999;
		position: fixed;
		top: 0;
		left: 0;
		display: none;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 73px;
		background-color: #191919;
		@include adaptive(767) {
			display: flex;
		}

		.profile__logo {
			width: 100%;
			max-width: 127px;
			padding-bottom: 0;
		}
	}

	&__subheader {
		z-index: 999;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		padding: 50px 0 0 50px;
		@include adaptive(1279) {
			padding-left: 35px;
		}
		@include adaptive(1023) {
			padding-left: 20px;
		}
		@include adaptive(767) {
			display: none;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&__container {
		z-index: 2;
		position: relative;
		width: 100%;
		max-width: 1605px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		/*padding-top: 127px;
		@include adaptive(1439) {
			padding-top: 100px;
		}
		@include adaptive(767) {
			padding-top: 73px;
		}*/
		@include adaptive(767) {
		  flex-wrap: wrap;
		}

		&-left,
		&-right {
			width: 50%;
			@include adaptive(767) {
				width: 100%;
			}
		}

		&-left {
			overflow: hidden;
			position: relative;

			> div {
				width: 100%;
				max-width: 385px;
				margin-left: auto;
				margin-right: auto;
				padding-left: 50px;
				@include adaptive(1365) {
					padding-left: 0;
				}
			}
		}

		&-right {
			position: sticky;
			align-self: flex-end;
			bottom: 50px;
			padding-top: 250px;
			//padding-left: 50px;
			@include respondCustom('(max-height: 1023px)') {
				padding-top: 200px;
			}
			@include respondCustom('(max-height: 899px)') {
				padding-top: 175px;
			}
			@include adaptive(1279) {
				padding-left: 20px;
			}
			@include adaptive(1023) {
				padding-top: 150px;
			}
			@include adaptive(767) {
				position: relative;
				padding-top: 0;
				padding-left: 0;
			}

			> div {
				width: 100%;
				max-width: 638px;
				margin-left: auto;
				margin-right: auto;
			}

			.profile__card-section {
				overflow: hidden;
				padding: 20px 15px;

				.profile__card-media {
					position: relative;
					top: -20px;
					left: -15px;
					width: calc(100% + 30px);

					img {
						display: block;
						max-width: 100%;
						height: auto;
					}
				}

				.profile__card-tag {
					padding-bottom: 0;
					font-size: 14px;
					line-height: 18px;
					color: #535353;
				}

				> h2 {
					font-size: 14px;
					line-height: 17px;
					color: #b9b9b9;
				}

				> p {
					padding-bottom: 10px;
					font-weight: bold;
					font-size: 15px;
					line-height: 15px;
					color: #fff;
				}

				> span {
					font-size: 13px;
					line-height: 15px;
					text-align: left;
					color: #b9b9b9;
				}

				> a {
					display: flex;
					justify-content: flex-end;
					margin-top: 15px;

					img {
						display: block;
						max-width: 100%;
						height: auto;
					}
				}
			}
		}
	}

	&__title {
		padding-bottom: 20px;
		font-family: 'AndaleMonoBold', sans-serif;
		font-size: 37px;
		letter-spacing: 0.02em;
		color: #fff;
		@include adaptive(767) {
			font-size: 30px;
		}
	}

	&__desc {
		width: 100%;
		max-width: 450px;
		padding-bottom: 20px;
		font-weight: bold;
		font-size: 15px;
		color: #fff;
		@include adaptive(767) {
			font-size: 14px;
		}
	}

	&__label {
		width: 100%;
		max-width: 450px;
		padding-bottom: 35px;

		p {
			font-size: 15px;
			color: #b9b9b9;
		}
	}

	&__logo {
		display: flex;
		align-items: flex-start;
		padding-bottom: 17px;
		@include adaptive(767) {
			display: none;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&__connect {
		padding-bottom: 20px;
		font-size: 18px;
		color: #fff;
		@include adaptive(767) {
			display: none;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		padding-bottom: 40px;
		@include adaptive(767) {
			display: none;
		}

		a {
			display: flex;
			align-items: flex-start;

			&:not(:last-of-type) {
				margin-right: 20px;
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	}

	&__info {
		@include adaptive(767) {
			display: none;
		}

		p {
			font-size: 10px;
			color: #6f6f6f;

			&:not(:last-of-type) {
				padding-bottom: 10px;
			}

			a {
				color: #6f6f6f;
				@include transition(color);

				&:hover {
					color: #ffffff;
					@include transition(color);
				}
			}
		}
	}

	&__link {
		display: flex;
		padding-bottom: 30px;
		font-family: "AndaleMonoBold", sans-serif;
		font-weight: bold;
		text-decoration: underline;
		font-size: 13px;
		color: #b6b6b6;
	}

	&__card {
		position: relative;
		width: 100%;

		&-photo {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 114px;
			height: 114px;
			margin-left: auto;
			margin-right: auto;
			transform: translateY(-50%);
			border-radius: 6px;
			border: 5px solid #353c55;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		&-name {
			padding-bottom: 15px;
			font-family: "AndaleMono", sans-serif;
			font-weight: bold;
			font-size: 22px;
			text-align: center;
			letter-spacing: 0.02em;
			color: #fff;

			img {
				display: block;
				max-width: 100%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&-desc {
			padding-bottom: 12px;
			font-weight: bold;
			font-size: 13px;
			text-align: center;
			color: #fff;
		}

		&-location,
		&-text {
			padding-bottom: 15px;
			font-size: 13px;
			text-align: left;
			color: #b9b9b9;
		}

		&-location {
			text-align: center;
			font-size: 14px;
			line-height: 17px;
		}

		&-tag {
			font-size: 11px;
			color: #535353;
		}

		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-height: calc(100vh - 127px);

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		&-content {
			z-index: 2;
			position: relative;
			padding: 650px 0 20px;
			@include respondCustom('(max-height: 1023px)') {
				padding-top: 500px;
			}
			@include respondCustom('(max-height: 899px)') {
				padding-top: 450px;
			}
			@include respondCustom('(max-height: 799px)') {
				padding-top: 400px;
			}
			@include respondCustom('(max-height: 759px)') {
				padding-top: 350px;
			}
			@include adaptive(1365) {
				padding-left: 25px;
				padding-right: 25px;
			}
			@include adaptive(1023) {
				padding-left: 20px;
				padding-right: 20px;
			}
			@include adaptive(1023) {
				padding-top: 500px;
				//padding-left: 30px;
				//padding-right: 30px;
			}
			@include adaptive(767) {
				padding-top: 65vh;
				padding-left: 0;
				padding-right: 0;
				//padding-bottom: 20px;
			}
		}

		&-section {
			border-radius: 10px;
			box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
			background-color: #000000;

			&--main {
				position: relative;
				padding: 87px 15px 20px;

				.profile__card-social {
					justify-content: center;
					padding-bottom: 20px;

					a {
						margin-left: 17px;
						margin-right: 17px;
					}
				}
			}

			&--footer {
				display: none;
				padding: 25px;
				margin-top: 20px;
				@include adaptive(767) {
					display: block;
					margin-top: 0;

					.profile__logo {
						display: flex;
						justify-content: center;
					}
					.profile__connect {
						display: flex;
						justify-content: center;
						width: 100%;
						max-width: 75%;
						padding-bottom: 22px !important;
						margin-left: auto;
						margin-right: auto;
						text-align: center;
						line-height: 19px;
					}
					.profile__btn {
						display: flex;
						justify-content: center;
						padding-bottom: 10px;
					}
					.profile__link {
						justify-content: center !important;
						text-align: center;
					}
					.profile__info {
						display: block;
					}
				}
			}

			&:nth-last-of-type(2) {
				margin-bottom: 0 !important;
			}

			&:not(:last-of-type) {
				margin-bottom: 20px;
			}
		}

		&-social {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 25px 30px;

			a {
				display: flex;
				align-items: flex-start;

				img {
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
		}

		&-link {
			display: flex;
			flex-direction: column;
			padding: 15px 0;

			&:last-of-type {
				padding-bottom: 0;
			}

			a {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				min-height: 31px;
				border-bottom: 1px solid rgba(#fff, 0.15);

				&:not(:last-of-type) {
					margin-bottom: 10px;
				}

				span {
					font-size: 15px;
					color: #fff;

					img {
						display: block;
						max-width: 100%;
						height: auto;
					}
				}

				i {
					display: flex;
					width: 10px;
					height: 10px;
					transform: rotate(45deg) translateY(6px);
					border-top: 1px solid #fff;
					border-right: 1px solid #fff;
				}
			}
		}

		&-media {
			position: relative;

			img {
				display: block;
				max-width: 100%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&__experience {
		padding: 35px 25px;

		&-title {
			padding-bottom: 35px;
			font-family: "AndaleMonoBold", sans-serif;
			font-weight: bold;
			font-size: 18px;
			letter-spacing: 0.02em;
			color: #fff;
		}

		&-card {
			display: flex;
			flex-direction: column;

			&:not(:last-of-type) {
				padding-bottom: 30px;
			}

			> p {
				padding-bottom: 5px;
				font-weight: bold;
				font-size: 15px;
				color: #fff;
			}

			> span {
				padding-bottom: 5px;
				font-size: 13px;
				color: #b9b9b9;
			}

			> a {
				font-size: 13px;
				font-weight: 700;
				color: #ffffff;

				span {
					color: #8e45b4;
					font-size: 13px;
				}
			}
		}
	}
}
