@font-face {
  font-family: 'AndaleMono';
  src: local("Andale Mono"), local("AndaleMono"), url("../fonts/AndaleMono.woff2") format("woff2"), url("../fonts/AndaleMono.woff") format("woff"), url("../fonts/AndaleMono.ttf") format("truetype"), url("../fonts/AndaleMono.svg#AndaleMono") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'AndaleMonoBold';
  src: local("AndaleMonoMTStd-Bold"), url("../fonts/AndaleMonoMTStd-Bold.woff2") format("woff2"), url("../fonts/AndaleMonoMTStd-Bold.woff") format("woff"), url("../fonts/AndaleMonoMTStd-Bold.ttf") format("truetype"), url("../fonts/AndaleMonoMTStd-Bold.svg#AndaleMonoMTStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
html,
body {
  width: 100%;
  min-height: 100vh; }
  html.is-hideScroll,
  body.is-hideScroll {
    overflow: hidden !important;
    width: 100vw; }

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #191919;
  line-height: 1.42857143;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  body > .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto; }
    body > .body--start {
      justify-content: flex-start; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0; }

button,
input {
  overflow: visible; }

button[disabled] {
  opacity: 0.55;
  cursor: not-allowed; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto; }

p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  outline: none;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

input[type="text"] {
  appearance: none; }

picture {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

body {
  background-color: #761115; }

.profile {
  position: relative;
  background-color: #761115;
  /*&:before {
  	content: '';
  	z-index: 99;
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 50%;
  	height: 127px;
  	background-color: #000000;
  	@include adaptive(1439) {
  		height: 100px;
  	}
  	@include adaptive(767) {
  		width: 100%;
  		height: 60px;
  	}
  }*/ }
  .profile.profile--404 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 30px 15px;
    background-color: #191919; }
    @media screen and (max-width: 767px) {
      .profile.profile--404 {
        display: block;
        height: auto;
        padding-top: 100px; } }
    .profile.profile--404:before {
      display: none; }
  .profile__block {
    width: 100%;
    max-width: 638px;
    margin-left: auto;
    margin-right: auto; }
    .profile__block .profile__desc {
      padding-bottom: 40px; }
  .profile__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*&-top {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 387px;
    	background-color: #000000;
    	@include adaptive(1439) {
    		height: 300px;
    	}
    	@include adaptive(767) {
    		display: none;
    	}
    }*/ }
    .profile__bg-cover {
      z-index: 0;
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../img/img-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .profile__bg-container {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 1605px;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
      padding-right: 20px; }
      @media screen and (max-width: 767px) {
        .profile__bg-container {
          padding-left: 0;
          padding-right: 0; } }
      .profile__bg-container > div {
        position: relative;
        width: 50%;
        height: 100%; }
        @media screen and (max-width: 767px) {
          .profile__bg-container > div {
            width: 100%; } }
    .profile__bg-visual {
      position: absolute;
      top: 0;
      left: 50px;
      right: 0;
      width: 100%;
      max-width: 464px;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      transition: opacity 0.05s ease-in-out; }
      @media screen and (max-width: 1365px) {
        .profile__bg-visual {
          left: 0; } }
      @media screen and (max-width: 767px) {
        .profile__bg-visual {
          opacity: 0;
          top: 60px;
          height: calc(100% - 60px); } }
      .profile__bg-visual img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
  .profile__header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 73px;
    background-color: #191919; }
    @media screen and (max-width: 767px) {
      .profile__header {
        display: flex; } }
    .profile__header .profile__logo {
      width: 100%;
      max-width: 127px;
      padding-bottom: 0; }
      @media screen and (max-width: 767px) {
        .profile__header .profile__logo {
          display: flex; } }
  .profile__subheader {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 50px 0 0 50px; }
    @media screen and (max-width: 1279px) {
      .profile__subheader {
        padding-left: 35px; } }
    @media screen and (max-width: 1023px) {
      .profile__subheader {
        padding-left: 20px; } }
    @media screen and (max-width: 767px) {
      .profile__subheader {
        display: none; } }
    .profile__subheader img {
      display: block;
      max-width: 100%;
      height: auto; }
  .profile__container {
    z-index: 2;
    position: relative;
    width: 100%;
    max-width: 1605px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px; }
  .profile__wrapper {
    display: flex;
    align-items: flex-start;
    /*padding-top: 127px;
    @include adaptive(1439) {
    	padding-top: 100px;
    }
    @include adaptive(767) {
    	padding-top: 73px;
    }*/ }
    @media screen and (max-width: 767px) {
      .profile__wrapper {
        flex-wrap: wrap; } }
    .profile__wrapper-left, .profile__wrapper-right {
      width: 50%; }
      @media screen and (max-width: 767px) {
        .profile__wrapper-left, .profile__wrapper-right {
          width: 100%; } }
    .profile__wrapper-left {
      overflow: hidden;
      position: relative; }
      .profile__wrapper-left > div {
        width: 100%;
        max-width: 385px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px; }
        @media screen and (max-width: 1365px) {
          .profile__wrapper-left > div {
            padding-left: 0; } }
    .profile__wrapper-right {
      position: sticky;
      align-self: flex-end;
      bottom: 50px;
      padding-top: 250px; }
      @media screen and (max-height: 1023px) {
        .profile__wrapper-right {
          padding-top: 200px; } }
      @media screen and (max-height: 899px) {
        .profile__wrapper-right {
          padding-top: 175px; } }
      @media screen and (max-width: 1279px) {
        .profile__wrapper-right {
          padding-left: 20px; } }
      @media screen and (max-width: 1023px) {
        .profile__wrapper-right {
          padding-top: 150px; } }
      @media screen and (max-width: 767px) {
        .profile__wrapper-right {
          position: relative;
          bottom: 20px;
          padding-top: 0;
          padding-left: 0; } }
      .profile__wrapper-right > div {
        width: 100%;
        max-width: 638px;
        margin-left: auto;
        margin-right: auto; }
      .profile__wrapper-right .profile__card-section {
        overflow: hidden;
        padding: 20px 15px; }
        .profile__wrapper-right .profile__card-section .profile__card-media {
          position: relative;
          top: -20px;
          left: -15px;
          width: calc(100% + 30px); }
          .profile__wrapper-right .profile__card-section .profile__card-media img {
            display: block;
            max-width: 100%;
            height: auto; }
        .profile__wrapper-right .profile__card-section .profile__card-tag {
          padding-bottom: 0;
          font-size: 14px;
          line-height: 18px;
          color: #535353; }
        .profile__wrapper-right .profile__card-section > h2 {
          font-size: 14px;
          line-height: 17px;
          color: #b9b9b9; }
        .profile__wrapper-right .profile__card-section > p {
          padding-bottom: 10px;
          font-weight: bold;
          font-size: 15px;
          line-height: 15px;
          color: #fff; }
        .profile__wrapper-right .profile__card-section > span {
          font-size: 13px;
          line-height: 15px;
          text-align: left;
          color: #b9b9b9; }
        .profile__wrapper-right .profile__card-section > button {
          cursor: pointer;
          outline: none;
          display: flex;
          justify-content: flex-end;
          margin-top: 15px;
          margin-left: auto;
          box-shadow: none;
          border: none;
          border-radius: 0;
          background-color: transparent; }
          .profile__wrapper-right .profile__card-section > button img {
            display: block;
            max-width: 100%;
            height: auto; }
  .profile__title {
    padding-bottom: 20px;
    font-family: 'AndaleMonoBold', sans-serif;
    font-size: 37px;
    letter-spacing: 0.02em;
    color: #fff; }
    @media screen and (max-width: 767px) {
      .profile__title {
        font-size: 30px; } }
  .profile__desc {
    width: 100%;
    max-width: 450px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 15px;
    color: #fff; }
    @media screen and (max-width: 767px) {
      .profile__desc {
        font-size: 14px; } }
  .profile__label {
    width: 100%;
    max-width: 450px;
    padding-bottom: 35px; }
    .profile__label p {
      font-size: 15px;
      color: #b9b9b9; }
  .profile__logo {
    display: flex;
    align-items: flex-start;
    padding-bottom: 17px; }
    @media screen and (max-width: 767px) {
      .profile__logo {
        display: none; } }
    .profile__logo img {
      display: block;
      max-width: 100%;
      height: auto; }
  .profile__connect {
    padding-bottom: 20px;
    font-size: 18px;
    color: #fff; }
    @media screen and (max-width: 767px) {
      .profile__connect {
        display: none; } }
  .profile__btn {
    display: flex;
    align-items: center;
    padding-bottom: 40px; }
    @media screen and (max-width: 767px) {
      .profile__btn {
        display: none; } }
    .profile__btn a {
      display: flex;
      align-items: flex-start; }
      .profile__btn a:not(:last-of-type) {
        margin-right: 20px; }
      .profile__btn a img {
        display: block;
        max-width: 100%;
        height: auto; }
  .profile__info {
    opacity: 0; }
    @media screen and (max-width: 767px) {
      .profile__info {
        display: none; } }
    .profile__info p {
      font-size: 10px; }
      .profile__info p:not(:last-of-type) {
        padding-bottom: 10px; }
      .profile__info p a {
        transition: color 0.3s ease-in-out; }
        .profile__info p a:hover {
          color: #ffffff;
          transition: color 0.3s ease-in-out; }
  .profile__link {
    display: flex;
    padding-bottom: 30px;
    font-family: "AndaleMonoBold", sans-serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 13px;
    color: #b6b6b6; }
  .profile__card {
    position: relative;
    width: 100%; }
    .profile__card-photo {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 114px;
      height: 114px;
      margin-left: auto;
      margin-right: auto;
      transform: translateY(-50%);
      border-radius: 6px;
      border: 5px solid #353c55; }
      .profile__card-photo img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
    .profile__card-name {
      padding-bottom: 15px;
      font-family: "AndaleMono", sans-serif;
      font-weight: bold;
      font-size: 22px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #fff; }
      .profile__card-name img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto; }
    .profile__card-desc {
      padding-bottom: 12px;
      font-weight: bold;
      font-size: 13px;
      text-align: center;
      color: #fff; }
    .profile__card-location, .profile__card-text {
      padding-bottom: 15px;
      font-size: 13px;
      text-align: left;
      color: #b9b9b9; }
    .profile__card-location {
      text-align: center;
      font-size: 14px;
      line-height: 17px; }
    .profile__card-tag {
      font-size: 11px;
      color: #535353; }
    .profile__card-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: calc(100vh - 127px); }
      .profile__card-bg img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
    .profile__card-content {
      z-index: 2;
      position: relative;
      padding: 650px 0 20px; }
      @media screen and (max-height: 1023px) {
        .profile__card-content {
          padding-top: 500px; } }
      @media screen and (max-height: 899px) {
        .profile__card-content {
          padding-top: 450px; } }
      @media screen and (max-height: 799px) {
        .profile__card-content {
          padding-top: 400px; } }
      @media screen and (max-height: 759px) {
        .profile__card-content {
          padding-top: 350px; } }
      @media screen and (max-width: 1365px) {
        .profile__card-content {
          padding-left: 25px;
          padding-right: 25px; } }
      @media screen and (max-width: 1023px) {
        .profile__card-content {
          padding-left: 20px;
          padding-right: 20px; } }
      @media screen and (max-width: 1023px) {
        .profile__card-content {
          padding-top: 500px; } }
      @media screen and (max-width: 767px) {
        .profile__card-content {
          padding-top: 65vh;
          padding-left: 0;
          padding-right: 0; } }
    .profile__card-section {
      display: block;
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
      background-color: #000000; }
      .profile__card-section--main {
        position: relative;
        padding: 87px 15px 20px; }
        .profile__card-section--main .profile__card-social {
          justify-content: center;
          padding-bottom: 20px; }
          .profile__card-section--main .profile__card-social a {
            margin-left: 17px;
            margin-right: 17px; }
      .profile__card-section--footer {
        display: none;
        padding: 25px;
        margin-top: 20px; }
        @media screen and (max-width: 767px) {
          .profile__card-section--footer {
            display: block;
            margin-top: 0; }
            .profile__card-section--footer .profile__logo {
              display: flex;
              justify-content: center; }
            .profile__card-section--footer .profile__connect {
              display: flex;
              justify-content: center;
              width: 100%;
              max-width: 75%;
              padding-bottom: 22px !important;
              margin-left: auto;
              margin-right: auto;
              text-align: center;
              line-height: 19px; }
            .profile__card-section--footer .profile__btn {
              display: flex;
              justify-content: center;
              padding-bottom: 10px; }
            .profile__card-section--footer .profile__link {
              justify-content: center !important;
              text-align: center; }
            .profile__card-section--footer .profile__info {
              display: block; } }
    .profile__card-social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 25px 30px; }
      .profile__card-social a {
        display: flex;
        align-items: flex-start; }
        .profile__card-social a img {
          display: block;
          max-width: 100%;
          height: auto; }
    .profile__card-link {
      display: flex;
      flex-direction: column;
      padding: 15px 0; }
      .profile__card-link:last-of-type {
        padding-bottom: 0; }
      .profile__card-link a {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        min-height: 28px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
        .profile__card-link a:not(:last-of-type) {
          margin-bottom: 8px; }
        .profile__card-link a span {
          font-size: 15px;
          color: #fff; }
          .profile__card-link a span img {
            display: block;
            max-width: 100%;
            height: auto; }
        .profile__card-link a i {
          display: flex;
          width: 10px;
          height: 10px;
          transform: rotate(45deg) translateY(6px);
          border-top: 1px solid #fff;
          border-right: 1px solid #fff; }
    .profile__card-media {
      position: relative; }
      .profile__card-media img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto; }
  .profile__experience {
    padding: 35px 25px; }
    .profile__experience-title {
      padding-bottom: 35px;
      font-family: "AndaleMonoBold", sans-serif;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 0.02em;
      color: #fff; }
    .profile__experience-card {
      display: flex;
      flex-direction: column; }
      .profile__experience-card:not(:last-of-type) {
        padding-bottom: 30px; }
      .profile__experience-card > p {
        padding-bottom: 5px;
        font-weight: bold;
        font-size: 15px;
        color: #fff; }
      .profile__experience-card > span {
        padding-bottom: 5px;
        font-size: 13px;
        color: #b9b9b9; }
      .profile__experience-card > a {
        font-size: 13px;
        font-weight: 700;
        color: #ffffff; }
        .profile__experience-card > a span {
          color: #8e45b4;
          font-size: 13px; }

/*# sourceMappingURL=style.css.map */
